/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c39f61;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.sidebar {
    width: 250px;
    background-color: #222;
    color: #fff;
    position: fixed;
    top: 60px; /* Adjusted for header height */
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Adjusted for fixed sidebar */
    overflow-y: auto; /* Allow main content to be scrollable */
    margin-top: 80px; /* Adjusted for header height and margin */
}

/* Employee Management */
.employee-management {
    position: relative;
}

.search-container {
    position: absolute;
    top: 0;
    right: 20px;
    margin-bottom: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-container textarea:focus,
    input:focus 
{
        outline: none;
}

.search-container button:hover {
    background: #45a049;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.actions {
    text-align: center;
}

.actions button {
    margin: 2px;
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.actions button:hover {
    background-color: #0056b3;
}

.employee-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
